<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment><!-- List  --></f:comment>
<div class="container">
    <f:for each="{news}" as="newsItem">
        <article class="row g-0 border-0 mb-4">
            <f:if condition="{newsItem.images -> f:count()} > 0">
                <f:then>
                    <f:link.page class="col-sm-5 col-lg-4 bg-repeat-0 bg-size-cover bg-position-center rounded-5"
                                 style="background-image: url({f:uri.image(src: newsItem.images.0.uid, treatIdAsReference: '1', minWidth: 300, maxWidth: 500)}); min-height: 16rem"
                                 pageUid="{newsItem.data.uid}"></f:link.page>
                </f:then>
                <f:else>
                    <f:link.page class="col-sm-5 col-lg-4 bg-repeat-0 bg-size-cover bg-position-center rounded-5"
                                 style="background-image: url({f:uri.resource(path: 'EXT:t3starter_news/Resources/Public/Images/no-image-icon.jpg')}); min-height: 16rem"
                                 pageUid="{newsItem.data.uid}"></f:link.page>
                </f:else>
            </f:if>
            <div class="col-sm-7 col-lg-8">
                <div class="pt-4 pb-sm-4 ps-sm-4 pe-lg-4">
                    <f:if condition="{newsItem.data.subtitle}">
                        <div class="d-flex flex-wrap align-items-center mb-2">
                            <span class="text-primary fs-xs mt-2">{newsItem.data.subtitle}</span>
                        </div>
                    </f:if>
                    <h3>
                        <f:link.page pageUid="{newsItem.data.uid}">
                            {newsItem.data.title}
                        </f:link.page>
                    </h3>
                    <p class="d-sm-none d-md-block">
                        <f:if condition="{newsItem.data.abstract}">
                            {newsItem.data.abstract -> f:format.nl2br()}
                            <f:link.page class="link-primary text-decoration-none fs-sm text-body-secondary d-block pt-3 text-end"
                                         pageUid="{newsItem.data.uid}">
                                <f:translate
                                    key="LLL:EXT:t3starter_news/Resources/Private/Language/locallang.xlf:link.read_more"/>
                            </f:link.page>
                        </f:if>
                    </p>
                    <div class="d-flex flex-wrap align-items-center mt-n2">
                        <f:if condition="{newsItem.data.author}">
                        <span class="fs-sm text-body-secondary mt-2">
                        <f:if condition="{newsItem.data.author_email}">
                            <f:then>
                                <f:link.email class="link-primary text-decoration-none fs-sm text-body-secondary mt-2"
                                              email="{newsItem.data.author_email}">{newsItem.data.author}</f:link.email>
                            </f:then>
                            <f:else>
                                {newsItem.data.author}
                            </f:else>
                        </f:if>
                        </span>
                            <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
                        </f:if>

                        <span class="fs-sm text-body-secondary mt-2">
                            {newsItem.data.lastUpdated ->
                    f:format.date(format:'{settings.list.dateFormat}')}
                        </span>
                        <f:if condition="{newsItem.newsCategories}">
                            <span class="fs-xs opacity-20 mt-2 mx-1">| Thema:</span>
                            <f:for each="{newsItem.newsCategories}" as="category" iteration="iterator">
                                <span class="fs-sm text-body-secondary mt-2 me-2">{category.data.title}</span>
                            </f:for>
                        </f:if>
                    </div>
                </div>
            </div>
        </article>
    </f:for>
</div>
</html>
