Settings:<br>
Layout = {layout}<br>
News Folder = {pi_flexform_transformed.settings.startingpoint}<br>
Settings recusive = {pi_flexform_transformed.settings.recursive}<br>
Settings maxItems = {pi_flexform_transformed.settings.maxItems}<br>
Settings Category = {pi_flexform_transformed.settings.categoryRestriction}<br>
<br>
<a style="text-decoration: underline" href="https://github.com/CMS-Internetsolutions/t3starter_news/Readme.md" target="_blank">Help</a>

<f:comment><!--
<krexx:debug>{_all}</krexx:debug>
--></f:comment>
