{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<div class="table-fit">
    <table class="table table-striped table-hover">
        <tbody>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Setting</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Value</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">
                <div class="btn" role="group">
                    <be:link.editRecord table="tt_content" uid="{uid}" fields="pi_flexform" class="btn btn-default" returnUrl="{f:be.uri(route: 'web_layout', parameters: '{id: originPageId, function: functionId, language: languageId}')}">
                        News Index Settings
                        <core:icon identifier="actions-open" size="small" />
                    </be:link.editRecord>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Layout</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>{layout}</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">

            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>News Folder</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>{pi_flexform_transformed.settings.startingpoint}</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">

            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>recusive</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>{pi_flexform_transformed.settings.recursive}</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">

            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>maxItems</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>{pi_flexform_transformed.settings.maxItems}</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">

            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Category</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>{pi_flexform_transformed.settings.categoryRestriction}</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">

            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<a style="text-decoration: underline" href="https://github.com/CMS-Internetsolutions/t3starter_news/blob/main/Readme.md" target="_blank">Help</a>

<f:comment><!--
<krexx:debug>{_all}</krexx:debug>
--></f:comment>


<krexx:debug>{_all}</krexx:debug>
