Settings:<br>
Layout = {layout}<br>
News Folder = {pi_flexform_transformed.settings.startingpoint}<br>
Settings recusive = {pi_flexform_transformed.settings.recursive}<br>
Settings maxItems = {pi_flexform_transformed.settings.maxItems}<br>
Settings Category = {pi_flexform_transformed.settings.categoryRestriction}<br>

<div class="table-fit">
    <table class="table table-striped table-hover">
        <tbody>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Cell 1</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Cell 1</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="#" title="#">
                        General
                        <core:icon identifier="actions-open" size="small" />
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Cell 1</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Cell 1</td>
                    </tr>
                </table>
            </td>
            <td class="col-control">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="#" title="#">
                        Allgemein
                        <core:icon identifier="actions-open" size="small" />
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<a style="text-decoration: underline" href="https://github.com/CMS-Internetsolutions/t3starter_news/blob/main/Readme.md" target="_blank">Help</a>

<f:comment><!--
<krexx:debug>{_all}</krexx:debug>
--></f:comment>
